<template>
  <div class="welcome">
    <b-loading
      :is-full-page="false"
      :active.sync="this.getLoading()"
      :can-cancel="false"
    ></b-loading>
    <div
      class="tool-information"
      v-html="
        this.getPageContent({
          pageName: `ocean-plastic-tracker-${this.$i18n.locale}`
        })
      "
    ></div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapGetters } = createNamespacedHelpers('pages')

export default {
  name: 'Information',
  data() {
    return {
      isActive: true,
      toolContent: ''
    }
  },
  methods: {
    ...mapGetters(['getLoading'])
  },
  computed: { ...mapGetters(['getPageContent']) }
}
</script>

<style lang="scss">
.welcome {
  position: relative;
  height: 100%;
}

.tool-information {
  p {
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
}

@media only screen and (max-device-width: 1024px) {
  .tool-information {
    padding: 1.25rem;
  }
}
</style>

<i18n>
{
  "en": {
    "welcome": "Ocean plastic tracker"
  },
  "fr": {
    "welcome": "Bienvenue"
  },
  "es": {
    "welcome": "Comprobar todo"
  }
}
</i18n>
