<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>img/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>manifest.json">
    <link rel="mask-icon" href="<%= BASE_URL %>img/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="<%= BASE_URL %>img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Ocean Plastic Tracker</title>
    <!-- Logo source http://clipart-library.com/clipart/dc45pBkxi.htm -->
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but Ocean Plastic Tracker doesn't work properly without JavaScript enabled.
        Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//<%= VUE_APP_FATHOM_HOSTNAME != null ? VUE_APP_FATHOM_HOSTNAME : '' %>/tracker.js', 'fathom');
      fathom('set', 'siteId', '<%= VUE_APP_FATHOM_SITE_ID != null ? VUE_APP_FATHOM_SITE_ID : '' %>');
      fathom('trackPageview');
      </script>
  <!-- / Fathom -->

  </body>
</html>
